.buy-button{
    border: 5px solid rgb(9, 9, 8);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    padding: 20px 5px;
    border-radius: 35px;
    width: 600px;
    margin-left: 200px;
}
.buy-button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: impact, sans-serif;
}
/*PAGE 7*/
.your-air-block {
    margin: auto;
}
.your-air {
    border: 5px solid rgb(7, 7, 6);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px 10px;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    width: 450px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
.name-air-for-suggestion{
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px 10px;
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
    width: 450px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
.info-air-for-suggestion {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px 10px;
    font-size: 35px;
    text-align: center;
    margin-left: 150px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.info-air-for-suggestion-block{
    margin-top: 50px;
}
.air-image-for-suggestion img {
    margin-top: 20px;
    border-radius: 100px;
    width: 500px;
    border: 5px solid rgb(8, 8, 6);
}
.table-for-air-suggestion{
    margin: auto;
}
.air-page-suggestion {
    background-color: #87CEEB;
    font-family: impact;
}

#self-air-button-text{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#self-air-button {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 5px;
    font-size: 20px;
    margin-top: 30px;
    width: 320px;
}


/* OXYGEN MAIN MENU */
#page-2 {
    background-color: #87CEEB;
    font-family: arial black;
    
}
#main-page-info {
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 30px 15px;
    font-weight: 800;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#products-button-text {
    color: rgb(4, 5, 5);
    text-decoration: none;
}
#products-button {
    text-align: center;
    border-radius: 25px;
    padding: 10px 5px;
    font-size: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 270px;
}
#complain-button,
#rates-button {
    border-radius: 25px;
    padding: 10px 5px;
    font-size: 20px;
    margin-top: 30px;
    width: 145px;
}
#table-main-page table{
    margin: auto;
}
#table-main-page img{
    width: 300px;
    border-radius: 50px;
    margin: 20px 50px;
    margin: auto;
}
#main-page-buttons-table {
    margin-left: 640px;
}
/* PRODUCTS_MENU */
#page-1 {
    font-family: impact;
    background-color: #87CEEB;
}
.topic-page-1 {
    text-align: center;
    margin: 40px 20%;
    padding: 20px 0px;
    color: rgba(0, 0, 0, 0.978);
}




#table-page-1 table{
    margin: auto;
    margin-top: 50px
}
#table-page-1 img{
    width: 200px;
    border-radius: 50px;
    margin: 50px 150px;
    border: 5px solid rgb(0, 0, 0);
}
#product-name1-page-1 {
    margin-left: 135px;
    width: 220px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#product-name2-page-1 {
    margin-left: 195px;
    width: 110px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#product-name3-page-1 {
    margin-left: 185px;
    width: 140px;
    border: 5px solid rgb(4, 4, 4);
    background-color: rgb(255, 255, 255);
}
#table-page-1 h3 {
    padding: 10px 5px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
#table-page-1 a {
    margin-left: 198px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 5px;
    color: rgb(3, 3, 4);
}
#busket-button:hover,
.main-button-pr:hover,
.main-button-self:hover,
.main-button:hover,
.info-air-for-suggestion:hover,
#self-air-button:hover,
.buy-button:hover,
#table-page-1 a:hover,
#products-button:hover,
#complain-button:hover,
#rates-button:hover {
    color:#f2f9fe;
    background-color: #24334a;
}
#busket-button,
.main-button-pr,
.main-button-self,
.main-button,
#table-page-1 a,
#products-button,
#complain-button,
#rates-button {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.main-button {
    font-size: 40px;
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 10px;
    color: rgb(0, 0, 0);
}
.main-button-block {
    margin-top: 150px;
    margin-left: 825px;
}
.main-button-self {
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 5px;
    color: rgb(0, 0, 0);
}
.main-button-self-block {
    margin: 20px;
}
.main-button-pr {
    font-size: 40px;
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 10px;
    color: rgb(0, 0, 0);
}
.main-button-pr-block {
    margin-top: 30px;
    margin-left: 825px;
}
/* PAGE 3,4,5 */
.page-3 {
    background-color: #87CEEB;
    font-family: arial black;
}
.alp-fresh-table-info table {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    color: rgb(0, 0, 0);
}
.alp-fresh-table {
    margin: auto;
}
.alp-fresh-topic {
    text-align: center;
    font-size: 40px;
}
.alp-fresh-born-place {
    font-size: 35px;
}
.alp-fresh-flavor {
    font-size: 35px;
}
.alp-fresh-use-way  {
    font-size: 35px;
}
.alp-fresh-cost {
    font-size: 35px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    color: rgb(0, 0, 0);
    padding: 30px 5px;
}
.alp-fresh-image img{
    border-radius: 100px;
    border: 5px solid rgb(0, 0, 0);
}
.alp-fresh-image {
    margin-left: 200px;
    margin-top: 10%;
}
/* PAGE 6 */
#page-6 {
    background-color: #87CEEB;
    font-family: arial black;
}
@keyframes page-1-product-button-color-change {
    0% {
        border: 5px solid rgb(0, 0, 0);
    }
    50% {
        border: 5px solid rgb(47, 47, 47);
    }
    100% {
        border: 5px solid rgb(135, 135, 135);
    }
}
@keyframes page-links-button-color-change {
    0% {
        border: 5px double rgb(0, 0, 0);
        color:#f2f9fe;
        background-color: #24334a;
    }
    50% {
        border: 5px double rgb(0, 0, 0);
        color:#f2f9fe;
        background-color: #24334a;
    }
    100% {
        border: 5px double rgb(0, 0, 0);
        color:#f2f9fe;
        background-color: #24334a;
    }
}

.cloud {
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 120px auto 20px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}