/* OXYGEN MAIN MENU */
#page-2 {
    animation: back-color-change 3s infinite;
    font-family: 'Courier New', Courier, monospace;
}
#main-page-info {
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: aliceblue;
    border-radius: 20px;
    padding: 30px 15px;
    font-weight: 800;
    animation: page-1-topic-button-color-change 3s infinite;
}
#products-button-text {
    color: aliceblue;
    text-decoration: none;
}
#products-button {
    text-align: center;
    border-radius: 25px;
    padding: 10px 5px;
    font-size: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 270px;
    animation: page-links-button-color-change 3s infinite;
}
#complain-button {
    border-radius: 25px;
    padding: 10px 5px;
    font-size: 20px;
    margin-top: 30px;
    width: 145px;
    margin-left: 67%;
    animation: page-links-button-color-change 3s infinite;
}
#table-main-page table{
    margin: auto;
}
#table-main-page img{
    width: 300px;
    border-radius: 50px;
    margin: 20px 50px;
    margin: auto;
}
/* PRODUCTS_MENU */
#page-1 {
    font-family: 'Courier New', Courier, monospace;
    animation: back-color-change 3s infinite;
}
.topic-page-1 {
    text-align: center;
    animation: page-1-topic-button-color-change 3s infinite;
    margin: 50px 40%;
    padding: 20px 0px;
    border-radius: 50px;
    color: aliceblue;
}




#table-page-1 table{
    margin: auto;
    margin-top: 50px
}
#table-page-1 img{
    width: 200px;
    border-radius: 50px;
    margin: 50px 150px;
    animation: page-1-product-button-color-change 3s infinite;
}
#product-name1-page-1 {
    margin-left: 135px;
    width: 220px;
    animation: page-1-topic-button-color-change 3s infinite;
}
#product-name2-page-1 {
    margin-left: 195px;
    width: 110px;
    animation: page-1-topic-button-color-change 3s infinite;
}
#product-name3-page-1 {
    margin-left: 185px;
    width: 140px;
    animation: page-1-topic-button-color-change 3s infinite;
}
#table-page-1 h3 {
    padding: 10px 5px;
    border-radius: 20px;
    color: aliceblue;
}
#table-page-1 a {
    margin-left: 198px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 5px;
    color: aliceblue;
    animation: page-1-topic-button-color-change 3s infinite;
}

/* PAGE3 */
#page-3 {
    font-family: 'Courier New', Courier, monospace;
}
/*alp*/
#alp-fresh {
    border-radius: 100px;
    margin-top: 10%;
    margin-left: 400px;
    animation: page-1-product-button-color-change 3s infinite;
}
#alp-fresh-table-info table {
    animation:page-1-topic-button-color-change 3s infinite ;
    border-radius: 25px;
    color: aliceblue;
}
#alp-fresh-table {
    margin: auto;
}
#alp-fresh-topic {
    text-align: center;
    font-size: 25px;
}
#alp-fresh-born-place {
    font-size: 20px;
}
#alp-fresh-flavor {
    font-size: 20px;
}
#alp-fresh-use-way  {
    font-size: 20px;
}
#alp-fresh-cost {
    font-size: 20px;
}
/*pug*/
#pug-fresh {
    border-radius: 100px;
    margin-top: 10%;
    margin-left: 400px;
    animation: page-1-product-button-color-change 3s infinite;
}
#pug-fresh-table-info table {
    animation:page-1-topic-button-color-change 3s infinite ;
    border-radius: 25px;
    color: aliceblue;
}
#pug-fresh-table {
    margin: auto;
}
#pug-fresh-topic {
    text-align: center;
    font-size: 25px;
}
#pug-fresh-born-place {
    font-size: 20px;
}
#pug-fresh-flavor {
    font-size: 20px;
}
#pug-fresh-use-way  {
    font-size: 20px;
}
#pug-fresh-cost {
    font-size: 20px;
}
/*meer*/
#meer-fresh {
    border-radius: 100px;
    margin-top: 10%;
    margin-left: 400px;
    animation: page-1-product-button-color-change 3s infinite;
}
#meer-fresh-table-info table {
    animation:page-1-topic-button-color-change 3s infinite ;
    border-radius: 25px;
    color: aliceblue;
}
#meer-fresh-table {
    margin: auto;
}
#meer-fresh-topic {
    text-align: center;
    font-size: 25px;
}
#meer-fresh-born-place {
    font-size: 20px;
}
#meer-fresh-flavor {
    font-size: 20px;
}
#meer--fresh-use-way  {
    font-size: 20px;
}
#meer-fresh-cost {
    font-size: 20px;
}
/*keyframes*/
@keyframes page-1-topic-button-color-change {
    0% {
        border: 5px solid yellow;
        background-color: rgb(32, 254, 84);
    }
    50% {
        border: 5px solid rgb(255, 255, 124);
        background-color: rgb(109, 255, 143);
    }
    100% {
        border: 5px solid yellow;
        background-color: rgb(32, 254, 84);
    }
}
@keyframes page-1-products-button-color-change {
    0% {
        border: 5px solid yellow;
        background-color: rgb(32, 254, 84);
    }
    50% {
        border: 5px solid rgb(255, 255, 124);
        background-color: rgb(109, 255, 143);
    }
    100% {
        border: 5px solid yellow;
        background-color: rgb(32, 254, 84);
    }
}
@keyframes back-color-change  {
    0% {
        background-color: rgb(201, 255, 250);
    }
    50% {
        background-color: rgb(160, 250, 241);
    }
    100% {
        background-color: rgb(201, 255, 250);
    }
}
@keyframes page-1-product-button-color-change {
    0% {
        border: 5px solid yellow;
    }
    50% {
        border: 5px solid rgb(255, 255, 124);
    }
    100% {
        border: 5px solid yellow;
    }
}
@keyframes page-links-button-color-change {
    0% {
        border: 5px double yellow;
        background-color: rgb(1, 224, 53);
    }
    50% {
        border: 5px double rgb(255, 255, 124);
        background-color: rgb(32, 254, 84);
    }
    100% {
        border: 5px double yellow;
        background-color: rgb(1, 224, 53);
    }
}