<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alp_fresh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="page-3">
    <table id="alp-fresh-table">
        <tr>
            <td>
                <div id="alp-fresh-table-info">
                    <table>
                        <tr>
                            <td>
                                <h2 id="alp-fresh-topic">Альпийская свежесть</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="alp-fresh-born-place">Место происхождения - Альпы</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="alp-fresh-flavor">Запах - Альпийский</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="alp-fresh-use-way">Способ применения - внутривенный</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="alp-fresh-cost">Цена - 15$ за 100мл</h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="alp-fresh-image">
                    <img src="https://kartinkof.club/uploads/posts/2022-09/thumbs/1662343272_1-kartinkof-club-p-novie-i-krasivie-kartinki-banka-1.jpg" alt="Тут картинка банки с воздухом :D" id="alp-fresh">
                </div>
            </td>
        </tr>
    </table>
</body>

</html>