<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="page-3">
    <table id="meer-fresh-table">
        <tr>
            <td>
                <div id="meer-fresh-table-info">
                    <table>
                        <tr>
                            <td>
                                <h2 id="meerp-fresh-topic">...</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="meer-fresh-born-place">Место происхождения - ...</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="meer-fresh-flavor">Запах - Морской</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="meer-fresh-use-way">Способ применения - ...</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="meer-fresh-cost">Цена - ...$ за 100мл</h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="meer-fresh-image">
                    <img src="https://kartinkof.club/uploads/posts/2022-09/thumbs/1662343279_4-kartinkof-club-p-novie-i-krasivie-kartinki-banka-7.jpg" alt="Тут картинка банки с воздухом :D" id="alp-fresh">
                </div>
            </td>
        </tr>
    </table>
</body>

</html>