<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="page-3">
    <table id="pug-fresh-table">
        <tr>
            <td>
                <div id="pug-fresh-table-info">
                    <table>
                        <tr>
                            <td>
                                <h2 id="pug-fresh-topic">...</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="pug-fresh-born-place">Место происхождения - ...</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="pug-fresh-flavor">Запах - ...</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="pug-fresh-use-way">Способ применения - ...</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 id="pug-fresh-cost">Цена - ...$ за 100мл</h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="pug-fresh-image">
                    <img src="https://kartinkof.club/uploads/posts/2022-09/thumbs/1662343288_12-kartinkof-club-p-novie-i-krasivie-kartinki-banka-19.jpg" alt="Тут картинка банки с воздухом :D" alt="Тут картинка банки с воздухом :D" id="alp-fresh">
                </div>
            </td>
        </tr>
    </table>
</body>

</html>