<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Calculation</title>
</head>

<body id="calculation">
    {% block content %}
    <div class = "cloud">
        <h1 class="topic-page-1">Цена: {{result}}$</h1>
    </div>
    <div class="main-button-cal-block">
        <a class="main-button-cal" href="/">На главную</a>
    </div>
    {% endblock %}
</body>

</html>
